{% extends 'topic/master.html' %}
{% block main %}
    <div class="container">
        <div  class="panel">
            {% for obj in category_obj %}
                {% if current_tab == obj.code %}
                    <a class="label label-warning panel-title"  href="{% url 'index' %}?tab={{ obj.code }}">
                        {{ obj.name }}
                    </a>
                {% else %}
                    <a class="label label-primary panel-title"  href="{% url 'index' %}?tab={{ obj.code }}">
                        {{ obj.name }} 
                    </a>
                {% endif %}
            {% endfor %}
        </div>

    {% if not category_obj.hot %}  <!-- 打印子选项 -->
        <div class="cell panel" >
            {% for obj in category_children_obj %}
                <!-- 二层类型点击需要优化 -->
                <a  class="label bg-danger panel-title" href="#" >{{ obj.name }}</a>
            {% endfor %}
        </div>
    {% endif %}


<!-- 打印具体文章信息 -->
    {% for obj in topic_obj %}
        <div class="cell item">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td width="48" height="40"  align="center" >
                        <h4><strong><a href="#">{{ obj.category.name }} </a></strong></h4>
                    </td>
                    <td width="10"></td>
                    <td width="auto" valign="middle">
                        <span class="item_title"><a href="{% url 'topic' obj.topic_sn %}">{{ obj.title|safe }}</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
        <hr>
        <div class="inner">
            <span class="chevron">→</span> <a href="{% url 'new' %}">创建主题</a>
        </div>
    </div>
{% endblock %}
