{% extends 'layout.html' %}
{% block rightbar %}
    {% if request.session.user_info %}
        <div class="">
            <strong>ThinkStore 致力于学习，思考系统化 </strong>
            <br/>
            <span>所谓系统化：构建处理问题可复用的一套思考框架与工具的集合</span>
        </div>
        <hr>
        <div class="">
            <a href="{% url 'new' %}">创作新主题</a></td>
        </div>
    {% else %}
        <div class="">
            <strong>ThinkStore 致力于学习，思考系统化 </strong>
            <div class="sep5"></div>
            <span>所谓系统化：构建处理问题可复用的一套思考框架与工具的集合</span>
        </div>
    {% endif %}
{% endblock %}