{% extends 'topic/master.html' %}
{% block main %}
<div class="container">

<!-- 面包屑导航 -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">ThinkStore</a></li>
    <li class="breadcrumb-item"><a href="">{{ topic_obj.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ topic_obj.title|safe }}</li>
  </ol>
</nav>

<!-- 卡片布局 -->
<div class="card text-align">
  <div class="card-header">
    <h3>{{ topic_obj.title|safe }}</h3>
  </div>
  <div class="card-body">
    <hr>
    <p class="card-text">
        {{ topic_obj.markdown_content | safe }}
    </p>
  </div>
  <div class="card-footer text-muted">
    <small class="gray"><a href="{% url 'member' topic_obj.author.username  %}">{{ topic_obj.author.username }}</a> · {{ topic_obj.add_time }} · {{ topic_obj.click_num }} 次点击</small>
  </div>
</div>


</div>  <!-- /container -->



{% if comments_obj %}
    {% for obj in comments_obj %}
        <ul class="list-group ">
          <li class="list-group-item list-group-item-action">
              <a href="{% url 'member' obj.author.username %}">{{ obj.author.username }} </a> 回曰(yue)：&nbsp; &nbsp;{{ obj.content|safe }} 
          </li>
        </ul>
    {% endfor %}
{% else %}
    <span style="color: rgba(0, 0, 0, 0.25);">尚无应答</span>
{% endif %}

{% if request.session.user_info %}
<div class="box">
    回曰:
    <form method="post" action="{% url 'topic' topic_sn %}">
    {% csrf_token %}
        <textarea name="content" maxlength="200" class="form-control" id="reply_content"></textarea>
        <input type="hidden" value="10476" name="once">
        <input type="submit" value="回复" class="btn btn-sm">
    </form>
</div>
{% endif %}
{% endblock %}

