{% extends 'casepoint/master.html' %}

{% load static %} 

{% block main %}

<div class="container constyle">

{% if request.session.user_info %}
{# {% if user.is_authenticated %}   不能用，不知道为啥 而且用html注释不行>#}
        <form role="form"  method="post"  action="caseadd">
        {% csrf_token %}
            <div class="form-group">
                <input id="caseContentNum" type="hidden"  name="caseContentNum"  value="0">
                {{ forms.as_ul }}
                <p>添加：<span> <a id="addVote" href="javascript:void(0);">添加</a></span> </p>
                <p id="caseContent_id"></p>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">提 交</button>
        </form>
{% else %}
   <span> 您尚未登录，登录之后方可添加~ </span>
{% endif %}

<!-- 两个script脚本用处,动态添加输入框    -->
<script src="{% static  'js/jquery-3.3.1.js' %}"></script>
<script>
$(function () {
    var num = 1;
    $("#addVote").click(function () {
        $("#caseContent_id").append("<span>请输入步骤标题：</span><span><input name=\"casecontent"+num+"\"></span><br>");
        $("#caseContentNum").val(num);
        num += 1;
    });
});
</script>

</div>
{% endblock %}



