{% extends 'layout.html' %}


{% block main %}
<div class="container constyle">
    <h4>所有思考框架</h4>
    <!-- 打印case  -->
    {% for  i  in  allCaseTitle %}
        <div class="row">
            <div class="col alert alert-warning" role="alert">
                {# <small> {{ i.type }} </small>#}
                {{ i.title }}
            </div>
            <div class="col">
                <a class="btn btn-primary" href="{% url 'ideaadd' id=i.id %}" role="button">新增方案</a>
                <a class="btn btn-success" href="{% url 'casediscrib' id=i.id %}" role="button">查看</a>
            </div>
        </div>
    {% endfor %}

    <!-- 优化可放右侧 用户信息相关栏位-->
    <div class="row">
        <div class="col">
            <a class="btn btn-danger btn-lg" href="{% url 'caseadd' %}" role="button">新增方案</a>
        </div>
    </div>

</div>
{% endblock %}

