{% extends 'casepoint/master.html' %}

{% block main %}
<div class="container constyle">
<h4>脚本列表</h4>
<!-- 打印case  -->
{% if request.session.user_info %}
    {% for  i  in  allCaseTitle %}
        <div class="card">
          <!-- <h5 class="card-header">{{ i.title }}</h5> -->
          <div class="card-body">
            <!-- <h5 class="card-title">留着些提示之类的信息</h5>  
            <p class="card-text"> </p>-->
            <a class="" href="{% url 'casediscrib' id=i.id %}" role="button"> <strong> {{ i.title }}</strong> </a>  
             &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <a class="" href="{% url 'ideaadd' id=i.id %}" role="button"><span class="badge badge-pill">使用脚本</span></a>
          </div>
        </div>    
    {% endfor %}
{% else %}
    {% for  i  in  allCaseTitle %}
        <div class="card">
          <!-- <h5 class="card-header">{{ i.title }}</h5> -->
          <div class="card-body">
            <!-- <h5 class="card-title">留着些提示之类的信息</h5>  
            <p class="card-text"> </p>-->
            <a class="" href="{% url 'casediscrib' id=i.id %}" role="button"> <strong> {{ i.title }}</strong> </a>  
             &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <span> 登录后可使用脚本 </span><hr>
          </div>
        </div>  
    {% endfor %}
{% endif %}

</div>
{% endblock %}

