{% extends 'layout.html' %}
{% block rightbar %}
    {% if request.session.user_info %}
        <div class="box">
        <strong>{{ request.session.user_info.username }}</strong> 
        <hr>  
            <strong>ThinkStore 致力于学习，思考系统化 </strong><br>
            <span>所谓系统化：构建处理问题可复用的一套模式。</span>
        <hr>                          
        <a href="{% url 'index' %}">创作新主题</a></td>   
        </div>
     {% else %}
        <div class="box">
            <div class="cell">
                <strong>ThinkStore 致力于学习，思考系统化 </strong><br>
                <span>所谓系统化：构建处理问题可复用的一套模式。</span>
            </div>
    {% endif %}
{% endblock %}