{% extends 'user/master.html' %}

{% block main %}
<p>
这还不完善，你可以先用 </br>
用户名：xiaocase </br>
密码：xiaocase </br>

<p>
<hr>

    <div class="box">
        <div class="header"><a href="{% url 'index' %}">ThinkStore</a> <span class="chevron">&nbsp;/ &nbsp;</span> 注册</div>
        {% if has_error %}
            <div class="problem">请解决以下问题然后再提交：
                <ul>
                    {% if obj.errors.username.0 %}
                        <li>{{ obj.errors.username.0 }}</li>
                    {% endif %}
                    {% if obj.errors.password.0 %}
                        <li>{{ obj.errors.password.0 }}</li>
                    {% endif %}
                    {% if obj.errors.email.0 %}
                        <li>{{ obj.errors.email.0 }}</li>
                    {% endif %}
                    {% if obj.errors.mobile.0 %}
                        <li>{{ obj.errors.mobile.0 }}</li>
                    {% endif %}

                </ul>
            </div>
        {% endif %}
        <div class="inner">
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <table cellpadding="5" cellspacing="0" border="0" width="100%">
                    <tbody>
                    <tr>
                        <td width="120" align="right" valign="top">
                            <div class="sep5"></div>
                            用户名
                        </td>
                        <td width="auto" align="left"><input type="text" name="username" class="sls">
                            <div class="sep5"></div>
                            <span>请使用半角的 a-z 或数字 0-9</span></td>
                    </tr>
                    <tr>
                        <td width="120" align="right">密码</td>
                        <td width="auto" align="left"><input type="password" name="password" class="sls"></td>
                    </tr>
                    <tr>
                        <td width="120" align="right" valign="top">
                            <div class="sep5"></div>
                            电子邮件
                        </td>
                        <td width="auto" align="left"><input type="text" name="email" class="sls">
                            <div class="sep5"></div>
                            <span>请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人</span></td>
                    </tr>
                    <tr>
                        <td width="120" align="right" valign="top">
                            <div class="sep5"></div>
                            国际电话区号
                        </td>
                        <td width="auto" align="left"><span>+86 中国 CN</span></td>
                    </tr>
                    <tr>
                        <td width="120" align="right" valign="top">
                            <div class="sep5"></div>
                            手机号
                        </td>
                        <td width="auto" align="left"><input type="text" class="sls" name="mobile">
                            <div class="sep5"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="120" align="right"></td>
                        <td width="auto" align="left"><input type="submit" class="btn btn-sm btn-secondary" value="注册">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>



{% endblock %}





{% block JS %}
    <script>
        $("#checkCode").click(function(){
            this.src += '?'
        });
    </script>
{% endblock %}